.icons{
	margin:auto;
}

.youtube{
	border-radius:35px;
	margin-left:1%;
}

	
#table{
	margin:auto;
}

body {
	width: 100wh;
	height: 100vh;
	color: #fff;
	background: linear-gradient(-45deg, #610B0B, #4C0B5F, #0B0B61);
	background-size: 3000% 300%;
	-webkit-animation: Gradient 5s ease infinite;
	-moz-animation: Gradient 5s ease infinite;
	animation: Gradient 5s ease infinite;
    }

    @-webkit-keyframes Gradient {
	0% {
		background-position: 0% 50%
	}
	50% {
		background-position: 100% 50%
	}
	100% {
		background-position: 0% 50%
	}

    }
    @-moz-keyframes Gradient {
	0% {
		background-position: 0% 50%
	}
	50% {
		background-position: 100% 50%
	}
	100% {
		background-position: 0% 50%
	}
    }

    @keyframes Gradient {
	0% {
		background-position: 0% 50%
	}
	50% {
		background-position: 100% 50%
	}
	100% {
		background-position: 0% 50%
	}
}